body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(background.jpg);
    background-size: cover;
}

/* .box{
    width:300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0, 0,0.4);
    text-align: center;
} */
.flexbox-container
{
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flexbox-item-1
{
   /* width: 300px;  */
  padding: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-65%);
  background: rgba(0,0, 0,0.4);
  text-align: center;
  align-self: center;
}

.flexbox-item-2
{
    display:none;
    padding: 10px;
    background: rgba(0,0, 0,0.4);
    color: #000;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}



.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;

}
.boxStyle{
    border: 0;
    background:none ;
    display:block ;
    margin: 20px auto;
    border: 3px solid rgb(255, 0, 191);
    text-align: center;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: rgb(23, 22, 22);
    border-radius: 24px;
    transition: 0.25px;

}
.boxStyle:focus 
{
  width: 270px;
  border: #ffc400ec;
 
}
#password
{
  border: 0;
    background:none ;
    display:block ;
    margin: 20px auto;
    border: 3px solid rgb(255, 0, 191);
    text-align: center;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: rgb(23, 22, 22);
    border-radius: 24px;
    transition: 0.25px;
}


.box input[type="submit"]
{
    border: 0;
    background: none;
    display:block ;
    margin: 20px auto;
    text-align: center;
    border: 3px soild #ffc400ec;
    padding: 14px 35px;
    
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #ffc400ec;
}

/* #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
   */
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
 
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }
 